h1= title
#docs
    - each doc in docs
      div.doc
        div.created_at= doc.created_at
        div.title 
            a(href="/topic/"+doc._id.toHexString())!= doc.title
        div.author
            b= 'Writer: ' + doc.author
        div.body= doc.body
div
    a(href="/topic/new") New Post